*{
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
    font-weight: normal
}
.body{
    min-width: 850px;
}
.header{
    background-color: #F5F7FA;
    background-image: url(https://www.perfectstock.ru/files/preview/1280x854/1b19c4aa5fabc94ff2b25049f57ee844-l-21583940815owsb30mwwfqfn06idraj3gulr5roux9ptccmaqefnwnao1uxmtmomekq3k3plk3wmtl6sehj1etr9zrqz5hpr95onv1xro0kwhlw.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}
.header-title {
    color: #2D3748;
    text-shadow: rgb(83, 90, 101, 0.5);
    font-family: "Inter Bold";
    text-align: center;
}

.nav-text a {
    text-decoration: none;
    font-family: "Inter Regular";
}
.about {
    width: 360px;
    display: inline-block;
}
.about-foto {
    width: 100%;
}
.about-info {
    text-align: center;
}
.service-text {
    list-style-type: circle;
}