*{
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
    font-weight: normal
}
section {
    background-color: rgb(199, 206, 209);
}
.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: #F5F7FA;
    background-image: url(https://www.perfectstock.ru/files/preview/1280x854/1b19c4aa5fabc94ff2b25049f57ee844-l-21583940815owsb30mwwfqfn06idraj3gulr5roux9ptccmaqefnwnao1uxmtmomekq3k3plk3wmtl6sehj1etr9zrqz5hpr95onv1xro0kwhlw.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.header-title {
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 74px;
    text-transform: uppercase;
    text-align: center;
    text-shadow:2px 2px 0 #7989a4;
    margin-top: 50px;
}
.header-subtitle{
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    text-shadow:1px 1px 0 #7989a4;
    padding-top: 15px;
}
.nav-text a {
    text-decoration: none;
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    font-family: "Inter", sans-serif;
    font-size: 25px
}
.about-section{            /*Секция с карточками*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.about-title{
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 37px;
    padding-top: 25px;
}
.about {                      /*Карточки*/
    flex: 1 1 300px;
    padding: 25px;
}
.about-foto {
    width: 100%;
}
.about-info {
    text-align: center;
}
.service-title{
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 37px;
    padding-top: 25px;
}
.service-section{            /*Секция с карточками*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.service-text{                      /*Карточки*/
    flex: 1 1 300px;
    padding: 25px;
}
.contacts-title{
    color: #2D3748;
    text-shadow: rgb(83 90 101 /0.5);
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 37px;
    padding-top: 25px;
}
.contacts{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
    margin: 0 150px;
}
.button{
    grid-column: 1/span 2;
    margin-bottom: 50px;
    height: 50px;
}
.text{
    font-weight: 400;
    font-size: 25px;
}
.text-up{
    text-transform: uppercase;
    font-weight: bolder;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column; /* ГЛАВНОЕ: выстраиваем карточки вертикально */
    align-items: center; /* Центрируем их по горизонтали, чтобы не прилипали к краю */
  }
  
  .about {
    max-width: 400px; /* Ограничиваем ширину, чтобы на большом телефоне карточка не была слишком широкой */
    width: 100%; /* Даём карточке растянуться на всю доступную ширину внутри колонки */
  }
  .service-section {
    flex-direction: column; /* ГЛАВНОЕ: выстраиваем карточки вертикально */
    align-items: center; /* Центрируем их по горизонтали, чтобы не прилипали к краю */
  }
  
  .service-text {
    max-width: 400px; /* Ограничиваем ширину, чтобы на большом телефоне карточка не была слишком широкой */
    width: 100%; /* Даём карточке растянуться на всю доступную ширину внутри колонки */
  }
}